/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --header-bg-color: black;
    --main-bg-color1:#141922;
    --footer-bg-color: #282828;
    --bg-color-upgrade:#080b12;
}

/* FLEX */

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}
/* FINE FLEX */
/* CLASSI HEADER */
.fa-solid{
    filter: invert(1);

}
.fa-brands{
    color: white;
}

.fa-thin{
    filter: invert(1);
}

.fa-user{
    margin-top: 1rem;
}

.libreria{
    width: 30px;
}

.account{
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.spazio{
    margin-bottom: 2rem;
}
header .logo{
    display: none;
}

.spotify{
    max-width: 75%;
}

.download{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    flex-direction: column;
}

header ul li{
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}
header ul li span{
    color: white;
    display: none;
    list-style-type: none;
}

.playlist{
    display: none;
}

.hr{
    display: none;
}

.app{
    display: none;
}

/* FINE CLASSI HEADER */
/* CLASSI MAIN */

/* NAV */
nav ul li{
    width: calc((100% - 2rem) / 4);
    height: 20px;
    color: gray;
    list-style-type: none;
    margin-bottom: 1rem;
    text-align: center;
    font-size: .6rem;
}

nav ul{
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

.small-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
/* FINE NAV */

.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.upgrade{
    background-color:var(--bg-color-upgrade);
    width: 100%;
    height: 15%;
    position: relative;
}

.button{
    width: 200px;
    height: 40px;
    background-color: var(--bg-color-upgrade);
    border:1px solid white;
    border-radius: 30px;
    color: white;
    position: absolute;
    top: 25px;
    right: 10px;
}
article h2{
    color: white;
    text-align: left;
    position: absolute;
    top: 8rem;
    left: 10px;
}

.played{
    margin-top: 6rem;
    width: calc((100% - 2rem) / 2);
    height: 200px;
}

.played img{
    width: 100%;
}

.adattamento{
width: 75%;
margin: 0 auto;
}

.autore{
    width: 100%;
}


.autore span{
    font-size: 1rem;
    color: white;
}


.autore p{
    font-size: 1rem;
    text-align: center;
    color: gray;
}
.principal{
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}


/* john doe */
.mix{
    margin-top: 6rem;
    width: calc((100% - 2rem) / 2);
    background-color: greenyellow;
    height: 200px;
}

.container-mix{
    width: 98%;
    height: 100%;
    margin: 0 auto;
}
/*  fine john doe */


/* FINE CLASSI MAIN */

header{
    background-color: var(--header-bg-color);
    width: 60px;
    height: calc(100vh - 120px );
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    width: calc(100% - 60px);
    background-color: var(--main-bg-color1);
    height: calc(100vh - 120px );
    overflow: auto;
}
footer{
    height: 120px;
    width: 100%;
    background-color: var(--footer-bg-color);

}




/* query*/

@media screen and (min-width: 567px){
    header{
        background-color: var(--header-bg-color);
        width: 233px;
        height: calc(100vh - 120px );
        align-items: flex-start;
    }
    main{
        width: calc(100% - 233px);
        background-color:var(--main-bg-color1);
        height: calc(100vh - 120px );
        overflow: auto;
    }
    nav ul li{
        width: calc((100% - 2rem) / 3);
        height: 20px;
        list-style-type: none;
        margin-bottom: 1rem;
        text-align: center;
    }

    header ul li span{
        color: white;
        display: initial;
        list-style-type: none;
    }

    
    header ul li{
        margin-bottom: .6rem;
        font-size: 1.5rem;
        text-align: left;
    }

    header .logo{
        display: block;
    }
    
    header .logo-small{
        display: none;
    }

    .playlist{
        display: block;
        color: white;
        font-size: 1rem;
    }

    .playlist li{
        font-size: .7rem;
        line-height: .1;
        margin-bottom: 1rem;
    }

    .fa-plus{
        filter: initial;
    }

    .hr{
        display: block;
    }

    .app{
        display: initial;
        color: white;
    }
    .account{
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: left;
    }




}


@media screen and (min-width: 768px){
    header{
        background-color: var(--header-bg-color);
        width: 233px;
        height: calc(100vh - 120px );
    }
    main{
        width: calc(100% - 233px);
        background-color:var(--main-bg-color1);
        height: calc(100vh - 120px );
        overflow: auto;
    }

    .played{
        margin-top: 6rem;
        width: calc((100% - 2rem) / 4);
        height: 200px;
        margin-left: .4rem;

    }
    .principal{
        width: 100%;
        flex-wrap: wrap;
        justify-content: start;
    }

    nav ul li{
        width: calc((100% - 2rem) / 5);
        height: 20px;
        list-style-type: none;
        margin-bottom: 1rem;
    }

    .mix{
        margin-top: 6rem;
        width: 23.5%;
        background-color: greenyellow;
        height: 200px;
    }

    .container-mix .mix:first-child{
        margin-right: 1rem;
    }
    
    .container-mix{
        width: 98%;
        height: 100%;
        margin: 0 auto;
        justify-content: left;
    }
    
}

@media screen and (min-width: 1200px){
    header{
        background-color: var(--header-bg-color);
        width: 233px;
        height: calc(100vh - 120px );
    }
    main{
        width: calc(100% - 233px);
        background-color: var(--main-bg-color1);
        height: calc(100vh - 120px );
        overflow: auto;
    }

    .played{
        margin-top: 6rem;
        width: calc((100% - 2rem) / 6);
        height: 200px;
        margin-left: 5px;

    }
    .principal{
        width: 100%;
        flex-wrap: wrap;    
    }

    nav ul li{
        width: calc((100% - 2rem) / 6);
        height: 20px;
        list-style-type: none;
        margin-bottom: 1rem;
    }

    .mix{
        margin-top: 6rem;
        width: 16%;
        background-color: greenyellow;
        height: 200px;
    }

    .container-mix .mix:first-child{
        margin-right: 1rem;
    }
    
    .container-mix{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        justify-content: left;
        margin-left: .3rem;
    }
    
}




