/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --header-bg-color: black;
    --main-bg-color1:#141922;
    --footer-bg-color: #282828;
    --bg-color-upgrade:#080b12;
}

/* FLEX */

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}
/* FINE FLEX */

/* CLASSI MAIN */
.container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.upgrade{
    background-color: blue;
    width: 100%;
    height: 15%;
    border: 5px dotted white;
}

.principal{
    background-color:cadetblue;
    width: 100%;
    height:85%;
    border:  5px dotted black;
}


/* FINE CLASSI MAIN */
header{
    background-color: var(--header-bg-color);
    width: 233px;
    height: calc(100vh - 120px);
}

main{
    width: calc(100% - 233px);
    background-color: aqua;
}

footer{
    height: 120px;
    width: 100%;
    background-color: var(--footer-bg-color);

}

/* query medium 768px */

@media screen and (max-width: 768px){
    header{
        background-color: var(--header-bg-color);
        width: 233px;
        height: calc(100vh - 120px);
    }

    
}



/* query medium 576px */

@media screen and (max-width: 576px){
    header{
        background-color: var(--header-bg-color);
        width: 60px;
        height: calc(100vh - 120px);
    }
    main{
        width: calc(100% - 60px);
        background-color: aqua;
    }
    
}